In [5]:
import geopandas as gpd
import datetime 
from datetime import datetime
import pandas as pd
from shapely.geometry import Polygon

In [6]:
file_path = '/home/wvuser/scientific-dashboard/intersections_geopandas_test/EFD_ULF_metadata_v3.gpkg'
file_path

'/home/wvuser/scientific-dashboard/intersections_geopandas_test/EFD_ULF_metadata_v3.gpkg'

In [7]:
def find_intersection(
    file_path: str, start_date: str, end_date: str, polygon: list | Polygon
):
    if isinstance(polygon, list):
        polygon = Polygon(polygon)

    # Read the GPKG file and open the dataset
    data = gpd.read_file(file_path)
    # display(data)

    # Convert start_date and end_date to datetime objects
    start_date = datetime.strptime(start_date, "%Y-%m-%d")
    end_date = datetime.strptime(end_date, "%Y-%m-%d")

    # # Convert start_time and end_time columns to datetime
    data["start_time"] = pd.to_datetime(data["start_time"])
    data["end_time"] = pd.to_datetime(data["end_time"])

    filtered_data = data[
        (data["start_time"] >= start_date) & (data["end_time"] <= end_date)
    ]

    # Check for intersection with the given polygon and filter
    intersects = filtered_data["geometry"].intersects(polygon)
    # display(intersects)
    intersecting_data = filtered_data[intersects]
    # display(intersecting_data)

    # Return the list of semiorbit_nr that intersect with the polygon
    return intersecting_data["semiorbit_nr"].tolist()

In [9]:
coordinates = [
    [-177.1875, 44.840291],
    [-177.1875, 63.704722],
    [-119.53125, 63.704722],
    [-119.53125, 44.840291],
    [-177.1875, 44.840291],
]

# polygon = Polygon(coordinates)

find_intersection(file_path, "2018-08-12", "2018-09-3", coordinates)

,semiorbit_nr,start_time,end_time,geometry
0,027321,2018-07-31 23:34:14.620,2018-08-01 00:11:16.426,"LINESTRING (57.5774 -69.60322, 55.45816 -67.67..."
1,027330,2018-08-01 00:21:29.648,2018-08-01 00:58:43.737,"LINESTRING (-134.24542 69.59177, -136.48808 67..."
2,027331,2018-08-01 01:08:58.628,2018-08-01 01:46:00.436,"LINESTRING (33.91006 -69.61324, 31.78851 -67.6..."
3,027340,2018-08-01 01:56:13.648,2018-08-01 02:33:27.764,"LINESTRING (-157.91377 69.60265, -161.53557 66..."
4,027341,2018-08-01 02:43:41.662,2018-08-01 03:20:45.539,"LINESTRING (10.30592 -69.72903, 8.05006 -67.62..."
...,...,...,...,...
27263,272630,2022-12-31 20:24:52.708,2022-12-31 21:01:58.620,"LINESTRING (-69.35133 69.40614, -71.37142 67.5..."
27264,272631,2022-12-31 21:12:12.722,2022-12-31 21:49:26.838,"LINESTRING (98.8639 -69.45085, 96.72864 -67.53..."
27265,272631,2022-12-31 21:36:55.302,2022-12-31 21:45:04.725,"LINESTRING (68.95844 22.84028, 66.94378 31.470..."
27266,272640,2022-12-31 21:59:36.734,2022-12-31 22:36:42.665,"LINESTRING (-93.03676 69.40106, -95.0565 67.58..."
27267,272641,2022-12-31 22:46:56.816,2022-12-31 23:24:10.925,"LINESTRING (75.17388 -69.44199, 73.03965 -67.5..."

389      True
390     False
391      True
392     False
393     False
        ...
1117    False
1118    False
1119    False
1120     True
1121    False
Length: 733, dtype: bool

,semiorbit_nr,start_time,end_time,geometry
389,029000,2018-08-12 00:02:33.628,2018-08-12 00:39:45.670,"LINESTRING (-129.56113 69.68647, -131.92978 67..."
391,029010,2018-08-12 01:37:17.632,2018-08-12 02:14:29.680,"LINESTRING (-153.23172 69.64309, -155.4815 67...."
424,029211,2018-08-13 09:59:25.614,2018-08-13 10:36:29.471,"LINESTRING (-98.6535 -69.75636, -100.80382 -67..."
427,029221,2018-08-13 11:34:09.302,2018-08-13 12:11:13.508,"LINESTRING (-122.29768 -69.78929, -124.47461 -..."
445,029300,2018-08-13 23:24:39.830,2018-08-14 00:01:51.889,"LINESTRING (-120.13682 69.60158, -122.257 67.6..."
...,...,...,...,...
1087,031900,2018-08-31 01:55:51.753,2018-08-31 02:32:57.680,"LINESTRING (-158.06203 69.58623, -161.57721 66..."
1098,031941,2018-08-31 09:02:05.854,2018-08-31 09:39:15.861,"LINESTRING (-84.52929 -69.7187, -86.67002 -67...."
1101,031951,2018-08-31 10:36:49.837,2018-08-31 11:13:59.838,"LINESTRING (-108.20298 -69.6984, -110.22131 -6..."
1103,031961,2018-08-31 12:11:33.883,2018-08-31 12:48:43.890,"LINESTRING (-131.8845 -69.71438, -134.02704 -6..."
1120,032030,2018-08-31 22:27:23.541,2018-08-31 23:04:29.450,"LINESTRING (-105.89938 69.7066, -108.1553 67.6..."

['029000',
 '029010',
 '029211',
 '029221',
 '029300',
 '029310',
 '029320',
 '029361',
 '029371',
 '029381',
 '029450',
 '029460',
 '029470',
 '029511',
 '029531',
 '029600',
 '029600',
 '029610',
 '029620',
 '029661',
 '029671',
 '029681',
 '029750',
 '029760',
 '029770',
 '029811',
 '029821',
 '029831',
 '029910',
 '029920',
 '029930',
 '029971',
 '029981',
 '030060',
 '030080',
 '030121',
 '030131',
 '030141',
 '030210',
 '030230',
 '030271',
 '030281',
 '030291',
 '030360',
 '030380',
 '030421',
 '030431',
 '030441',
 '030510',
 '030520',
 '030530',
 '030571',
 '030581',
 '030591',
 '030661',
 '030680',
 '030690',
 '030731',
 '030741',
 '030820',
 '030830',
 '030840',
 '030881',
 '030891',
 '030901',
 '030970',
 '030980',
 '030990',
 '030990',
 '031031',
 '031041',
 '031051',
 '031120',
 '031130',
 '031140',
 '031181',
 '031191',
 '031270',
 '031280',
 '031290',
 '031331',
 '031341',
 '031351',
 '031430',
 '031440',
 '031450',
 '031491',
 '031501',
 '031590',
 '031600',
 '031641',
 '031651',
 '031661',
 '031730',
 '031740',
 '031750',
 '031791',
 '031801',
 '031811',
 '031880',
 '031890',
 '031900',
 '031941',
 '031951',
 '031961',
 '032030']

In [10]:
_ = find_intersection(file_path, "2018-08-12", "2018-09-3", coordinates)

,semiorbit_nr,start_time,end_time,geometry
0,027321,2018-07-31 23:34:14.620,2018-08-01 00:11:16.426,"LINESTRING (57.5774 -69.60322, 55.45816 -67.67..."
1,027330,2018-08-01 00:21:29.648,2018-08-01 00:58:43.737,"LINESTRING (-134.24542 69.59177, -136.48808 67..."
2,027331,2018-08-01 01:08:58.628,2018-08-01 01:46:00.436,"LINESTRING (33.91006 -69.61324, 31.78851 -67.6..."
3,027340,2018-08-01 01:56:13.648,2018-08-01 02:33:27.764,"LINESTRING (-157.91377 69.60265, -161.53557 66..."
4,027341,2018-08-01 02:43:41.662,2018-08-01 03:20:45.539,"LINESTRING (10.30592 -69.72903, 8.05006 -67.62..."
...,...,...,...,...
27263,272630,2022-12-31 20:24:52.708,2022-12-31 21:01:58.620,"LINESTRING (-69.35133 69.40614, -71.37142 67.5..."
27264,272631,2022-12-31 21:12:12.722,2022-12-31 21:49:26.838,"LINESTRING (98.8639 -69.45085, 96.72864 -67.53..."
27265,272631,2022-12-31 21:36:55.302,2022-12-31 21:45:04.725,"LINESTRING (68.95844 22.84028, 66.94378 31.470..."
27266,272640,2022-12-31 21:59:36.734,2022-12-31 22:36:42.665,"LINESTRING (-93.03676 69.40106, -95.0565 67.58..."
27267,272641,2022-12-31 22:46:56.816,2022-12-31 23:24:10.925,"LINESTRING (75.17388 -69.44199, 73.03965 -67.5..."

389      True
390     False
391      True
392     False
393     False
        ...
1117    False
1118    False
1119    False
1120     True
1121    False
Length: 733, dtype: bool

,semiorbit_nr,start_time,end_time,geometry
389,029000,2018-08-12 00:02:33.628,2018-08-12 00:39:45.670,"LINESTRING (-129.56113 69.68647, -131.92978 67..."
391,029010,2018-08-12 01:37:17.632,2018-08-12 02:14:29.680,"LINESTRING (-153.23172 69.64309, -155.4815 67...."
424,029211,2018-08-13 09:59:25.614,2018-08-13 10:36:29.471,"LINESTRING (-98.6535 -69.75636, -100.80382 -67..."
427,029221,2018-08-13 11:34:09.302,2018-08-13 12:11:13.508,"LINESTRING (-122.29768 -69.78929, -124.47461 -..."
445,029300,2018-08-13 23:24:39.830,2018-08-14 00:01:51.889,"LINESTRING (-120.13682 69.60158, -122.257 67.6..."
...,...,...,...,...
1087,031900,2018-08-31 01:55:51.753,2018-08-31 02:32:57.680,"LINESTRING (-158.06203 69.58623, -161.57721 66..."
1098,031941,2018-08-31 09:02:05.854,2018-08-31 09:39:15.861,"LINESTRING (-84.52929 -69.7187, -86.67002 -67...."
1101,031951,2018-08-31 10:36:49.837,2018-08-31 11:13:59.838,"LINESTRING (-108.20298 -69.6984, -110.22131 -6..."
1103,031961,2018-08-31 12:11:33.883,2018-08-31 12:48:43.890,"LINESTRING (-131.8845 -69.71438, -134.02704 -6..."
1120,032030,2018-08-31 22:27:23.541,2018-08-31 23:04:29.450,"LINESTRING (-105.89938 69.7066, -108.1553 67.6..."

In [24]:
coordinates = [[-177.1875, 44.840291], [-177.1875, 63.704722], [-119.53125, 63.704722], [-119.53125, 44.840291], [-177.1875, 44.840291]]

polygon = Polygon(coordinates)

# gdf = gpd.GeoDataFrame(index=[0], crs='epsg:4326', geometry=[polygon])

# # Now you can work with your GeoDataFrame `gdf`
# display(gdf)

                                            geometry
0  POLYGON ((-177.1875 44.84029, -177.1875 63.704...

In [ ]:
import geopandas as gpd
import pandas as pd


EFD_ULF = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/EFD_ULF_metadata_v3.gpkg')
HEPD = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/HEPD_metadata_v1.gpkg')
HEPP_H = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/HEPP_H_metadata_v1.gpkg')
HEPP_X = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/HEPP_X_metadata_v1.gpkg')
LAP = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/LAP_metadata_v1.gpkg')
SCM_ULF = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/SCM_ULF_metadata_v1.gpkg')
HEPP_L = gpd.read_file('/home/grp2/grp2/scientific-dashboard/data/processed/HEPP_L_metadata_v1.gpkg')

In [ ]:

EFD_ULF['payload'] = 'EFD_ULF'
HEPD['payload'] = 'HEPD'
HEPP_H['payload'] = 'HEPP_H'
HEPP_X['payload'] = 'HEPP_X'
LAP['payload'] = 'LAP'
SCM_ULF['payload'] = 'SCM_ULF'
HEPP_L['payload'] = 'HEPP_L'

EFD_ULF['start_time'] = pd.to_datetime(EFD_ULF['start_time'])
EFD_ULF['end_time'] = pd.to_datetime(EFD_ULF['end_time'])
HEPD['start_time'] = pd.to_datetime(HEPD['start_time'])
HEPD['end_time'] = pd.to_datetime(HEPD['end_time'])
HEPP_H['start_time'] = pd.to_datetime(HEPP_H['start_time'])
HEPP_H['end_time'] = pd.to_datetime(HEPP_H['end_time'])
HEPP_X['start_time'] = pd.to_datetime(HEPP_X['start_time'])
HEPP_X['end_time'] = pd.to_datetime(HEPP_X['end_time'])
LAP['start_time'] = pd.to_datetime(LAP['start_time'])
LAP['end_time'] = pd.to_datetime(LAP['end_time'])
SCM_ULF['start_time'] = pd.to_datetime(SCM_ULF['start_time'])
SCM_ULF['end_time'] = pd.to_datetime(SCM_ULF['end_time'])
HEPP_L['start_time'] = pd.to_datetime(HEPP_L['start_time'])
HEPP_L['end_time'] = pd.to_datetime(HEPP_L['end_time'])

In [ ]:



dataframes = [EFD_ULF, HEPD, HEPP_H, HEPP_X, LAP, SCM_ULF, HEPP_L]

combined_df = pd.concat(dataframes, ignore_index=True)



combined_df['temp_time_range'] = combined_df['end_time'] - combined_df['start_time']

combined_df = combined_df.sort_values(by=['temp_time_range'], ascending=[False])
#combined_df = combined_df.drop_duplicates(subset=['semiorbit_nr'])

#combined_df.drop(columns=['temp_time_range'], inplace=True)

combined_gdf = gpd.GeoDataFrame(combined_df, geometry='geometry')

combined_gdf